In [1]:
import pandas as pd
import openpyxl

In [2]:
Ke_data = pd.read_excel('Ke_data.xlsx')
Ke_data.head(10)

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,KEN,SP.DYN.AMRT.MA,Data source: United Nations World Population P...,NaN
1,KEN,ST.INT.RCPT.CD,Compiled from data reported in the Internation...,NaN
2,KEN,SM.POP.NETM,Data source: United Nations World Population P...,NaN
3,KEN,SG.GEN.PARL.ZS,Situation for 1 January 2008 for directly elec...,NaN
4,KEN,ST.INT.TVLR.CD,Compiled from data reported in the Internation...,NaN
5,KEN,IT.CEL.SETS.P2,Kenya Posts and Telecommunications Corporation...,NaN
6,KEN,IT.NET.BBND,Kenya Posts and Telecommunications Corporation...,NaN
7,KEN,SP.DYN.LE00.MA.IN,Data source: United Nations World Population P...,NaN
8,KEN,SP.POP.GROW,Data source: United Nations World Population P...,NaN
9,KEN,ST.INT.XPND.CD,Compiled from data reported in the Internation...,NaN

In [3]:
KE_Country = pd.read_excel('KE_Country.xlsx')
KE_Country

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,KEN,Kenya,Kenya,Republic of Kenya,KE,Kenyan shilling,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Lower middle income,KE,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2009,"Malaria Indicator Survey, 2020","Integrated household survey (IHS), 2015/16",NaN,NaN,2013,2018,NaN

In [4]:
Ke_datas = pd.read_excel('Ke_datas.xlsx')
Ke_datas.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,year,Score
0,Kenya,KEN,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,2000,1.800000
1,Kenya,KEN,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,2000,0.500000
2,Kenya,KEN,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,2000,5.500000
3,Kenya,KEN,Access to electricity (% of population),EG.ELC.ACCS.ZS,2000,15.175694
4,Kenya,KEN,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,2000,6.559743
5,Kenya,KEN,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,2000,49.873398
6,Kenya,KEN,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,2000,NaN
7,Kenya,KEN,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,2000,NaN
8,Kenya,KEN,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,2000,NaN
9,Kenya,KEN,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,2000,NaN

In [5]:
KE_FootNote = pd.read_excel('KE_FootNote.xlsx')
KE_FootNote.head()

  CountryCode         SeriesCode    Year   DESCRIPTION  Unnamed: 4
0         KEN     SE.PRM.NENR.MA  YR2009  UIS estimate         NaN
1         KEN     SE.PRM.NENR.FE  YR2009  UIS estimate         NaN
2         KEN  SE.PRM.NINT.FE.ZS  YR1999  UIS estimate         NaN
3         KEN  SE.PRM.NINT.MA.ZS  YR1999  UIS estimate         NaN
4         KEN     SE.PRM.NINT.ZS  YR1999  UIS estimate         NaN

In [6]:
KE_Time = pd.read_excel('KE_Series-Time.xlsx')
KE_Time

,SeriesCode,Year,DESCRIPTION,Unnamed: 3
0,SP.UWT.TFRT,YR1990,Averages for regions/groups are based on count...,NaN
1,SP.REG.DTHS.ZS,YR1990,Averages for regions/groups are based on count...,NaN
2,SH.FPL.SATM.ZS,YR1990,Averages for regions/groups are based on count...,NaN
3,SP.DYN.WFRT,YR1990,Averages for regions/groups are based on count...,NaN
4,SH.MED.CMHW.P3,YR1990,Averages for regions/groups are based on count...,NaN
...,...,...,...,...
144,SH.MLR.NETS.ZS,YR2019,Averages for regions/groups are based on most ...,NaN
145,SP.DYN.CONM.ZS,YR2019,Averages for regions/groups are based on most ...,NaN
146,SP.DYN.CONU.ZS,YR2019,Averages for regions/groups are based on most ...,NaN
147,SP.UWT.TFRT,YR2019,Averages for regions/groups are based on most ...,NaN
148,DT.DOD.PVLX.CD,YR2020,Present value calculations for these countries...,NaN

In [7]:
KE_Series = pd.read_excel('KE_Series.xlsx')

KE_Series.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,AG.AGR.TRAC.NO,Environment: Agricultural production,"Agricultural machinery, tractors",NaN,Agricultural machinery refers to the number of...,NaN,Annual,NaN,NaN,Sum,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",A tractor provides the power and traction to m...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN
1,AG.CON.FERT.PT.ZS,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,The world and regional aggregate series do not...,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,CC BY-4.0,NaN
2,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,The world and regional aggregate series do not...,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,CC BY-4.0,NaN
3,AG.LND.AGRI.K2,Environment: Land use,Agricultural land (sq. km),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,Areas of former states are included in the suc...,Sum,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agricultural land constitutes only a part of a...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN
4,AG.LND.AGRI.ZS,Environment: Land use,Agricultural land (% of land area),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,Areas of former states are included in the suc...,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agriculture is still a major sector in many ec...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN

In [10]:
Economic_Indicators = ["Expense (current LCU)"]
Economic_data= Ke_datas[Ke_datas['Indicator Name'].isin(Economic_Indicators)]
Economic_data

,Country Name,Country Code,Indicator Name,Indicator Code,year,Score
397,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2000,NaN
1874,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2001,NaN
3351,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2002,NaN
4828,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2003,NaN
6305,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2004,NaN
7782,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2005,NaN
9259,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2006,NaN
10736,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2007,NaN
12213,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2008,NaN
13690,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2009,NaN
15167,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2010,NaN
16644,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2011,NaN
18121,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2012,NaN
19598,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2013,NaN
21075,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2014,1.233037e+12
22552,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2015,1.426091e+12
24029,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2016,1.685197e+12
25506,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2017,2.131751e+12
26983,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2018,2.207598e+12
28460,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2019,1.924521e+12
29937,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2020,2.142387e+12
31414,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2021,2.490483e+12
32891,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2022,NaN
34368,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,Unnamed: 67,NaN

In [14]:
Expense_data = pd.merge(Economic_data,KE_Series,right_on="Series Code",left_on="Indicator Code")
Expense_data

,Country Name,Country Code,Indicator Name_x,Indicator Code,year,Score,Series Code,Topic,Indicator Name_y,Short definition,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2000,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
1,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2001,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
2,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2002,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
3,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2003,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
4,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2004,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
5,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2005,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
6,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2006,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
7,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2007,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
8,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2008,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
9,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2009,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
10,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2010,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
11,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2011,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
12,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2012,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
13,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2013,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
14,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2014,1.233037e+12,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
15,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2015,1.426091e+12,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
16,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2016,1.685197e+12,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
17,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2017,2.131751e+12,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
18,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2018,2.207598e+12,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
19,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2019,1.924521e+12,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
20,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2020,2.142387e+12,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
21,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2021,2.490483e+12,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
22,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,2022,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN
23,Kenya,KEN,Expense (current LCU),GC.XPN.TOTL.CN,Unnamed: 67,NaN,GC.XPN.TOTL.CN,Public Sector: Government finance: Expense,Expense (current LCU),NaN,...,NaN,NaN,"International Monetary Fund, Government Financ...",The IMF's Government Finance Statistics Manual...,NaN,NaN,NaN,NaN,CC BY-4.0,NaN