In [1]:
import pandas as pd
import openpyxl

In [2]:
Ke_data = pd.read_excel('Ke_data.xlsx')
Ke_data.head(10)

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,KEN,SP.DYN.AMRT.MA,Data source: United Nations World Population P...,NaN
1,KEN,ST.INT.RCPT.CD,Compiled from data reported in the Internation...,NaN
2,KEN,SM.POP.NETM,Data source: United Nations World Population P...,NaN
3,KEN,SG.GEN.PARL.ZS,Situation for 1 January 2008 for directly elec...,NaN
4,KEN,ST.INT.TVLR.CD,Compiled from data reported in the Internation...,NaN
5,KEN,IT.CEL.SETS.P2,Kenya Posts and Telecommunications Corporation...,NaN
6,KEN,IT.NET.BBND,Kenya Posts and Telecommunications Corporation...,NaN
7,KEN,SP.DYN.LE00.MA.IN,Data source: United Nations World Population P...,NaN
8,KEN,SP.POP.GROW,Data source: United Nations World Population P...,NaN
9,KEN,ST.INT.XPND.CD,Compiled from data reported in the Internation...,NaN

In [3]:
KE_Country = pd.read_excel('KE_Country.xlsx')
KE_Country

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,KEN,Kenya,Kenya,Republic of Kenya,KE,Kenyan shilling,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Lower middle income,KE,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,2009,"Malaria Indicator Survey, 2020","Integrated household survey (IHS), 2015/16",NaN,NaN,2013,2018,NaN

In [6]:
Ke_datas = pd.read_excel('Ke_datas.xlsx')


column_names = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']

Ke_datas = pd.melt(frame=Ke_datas, id_vars=column_names, var_name='year', value_name='Indicator_Score')

Ke_datas = Ke_datas[Ke_datas['year'] >= '2000']

Ke_datas.head()

,Country Name,Country Code,Indicator Name,Indicator Code,year,Indicator_Score
0,Kenya,KEN,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,year,2000
1,Kenya,KEN,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,year,2000
2,Kenya,KEN,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,year,2000
3,Kenya,KEN,Access to electricity (% of population),EG.ELC.ACCS.ZS,year,2000
4,Kenya,KEN,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,year,2000

In [7]:
KE_FootNote = pd.read_excel('KE_FootNote.xlsx')
KE_FootNote.head()

  CountryCode         SeriesCode    Year   DESCRIPTION  Unnamed: 4
0         KEN     SE.PRM.NENR.MA  YR2009  UIS estimate         NaN
1         KEN     SE.PRM.NENR.FE  YR2009  UIS estimate         NaN
2         KEN  SE.PRM.NINT.FE.ZS  YR1999  UIS estimate         NaN
3         KEN  SE.PRM.NINT.MA.ZS  YR1999  UIS estimate         NaN
4         KEN     SE.PRM.NINT.ZS  YR1999  UIS estimate         NaN

In [8]:
KE_Time = pd.read_excel('KE_Series-Time.xlsx')
KE_Time

,SeriesCode,Year,DESCRIPTION,Unnamed: 3
0,SP.UWT.TFRT,YR1990,Averages for regions/groups are based on count...,NaN
1,SP.REG.DTHS.ZS,YR1990,Averages for regions/groups are based on count...,NaN
2,SH.FPL.SATM.ZS,YR1990,Averages for regions/groups are based on count...,NaN
3,SP.DYN.WFRT,YR1990,Averages for regions/groups are based on count...,NaN
4,SH.MED.CMHW.P3,YR1990,Averages for regions/groups are based on count...,NaN
...,...,...,...,...
144,SH.MLR.NETS.ZS,YR2019,Averages for regions/groups are based on most ...,NaN
145,SP.DYN.CONM.ZS,YR2019,Averages for regions/groups are based on most ...,NaN
146,SP.DYN.CONU.ZS,YR2019,Averages for regions/groups are based on most ...,NaN
147,SP.UWT.TFRT,YR2019,Averages for regions/groups are based on most ...,NaN
148,DT.DOD.PVLX.CD,YR2020,Present value calculations for these countries...,NaN

In [11]:
KE_Series = pd.read_excel('KE_Series.xlsx')

KE_Series.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,AG.AGR.TRAC.NO,Environment: Agricultural production,"Agricultural machinery, tractors",NaN,Agricultural machinery refers to the number of...,NaN,Annual,NaN,NaN,Sum,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",A tractor provides the power and traction to m...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN
1,AG.CON.FERT.PT.ZS,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,The world and regional aggregate series do not...,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,CC BY-4.0,NaN
2,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,NaN,Fertilizer consumption measures the quantity o...,NaN,Annual,NaN,The world and regional aggregate series do not...,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",NaN,NaN,NaN,CC BY-4.0,NaN
3,AG.LND.AGRI.K2,Environment: Land use,Agricultural land (sq. km),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,Areas of former states are included in the suc...,Sum,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agricultural land constitutes only a part of a...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN
4,AG.LND.AGRI.ZS,Environment: Land use,Agricultural land (% of land area),NaN,Agricultural land refers to the share of land ...,NaN,Annual,NaN,Areas of former states are included in the suc...,Weighted average,...,NaN,NaN,"Food and Agriculture Organization, electronic ...",Agriculture is still a major sector in many ec...,Agricultural land covers more than one-third o...,NaN,NaN,NaN,CC BY-4.0,NaN

In [18]:
Economic_Indicators = ("Adjusted net national income (annual % growth)",
"Adjusted net national income (constant 2015 US$)",
"Adjusted net national income (current US$)",
"Adjusted net national income per capita (annual % growth)",
"Adjusted net national income per capita (constant 2015 US$)",
"Adjusted net national income per capita (current US$)",
"Adjusted net savings, excluding particulate emission damage (% of GNI)",
"Adjusted net savings, excluding particulate emission damage (current US$)",
"Adjusted net savings, including particulate emission damage (% of GNI)",
"Adjusted net savings, including particulate emission damage (current US$)",
"Adjusted savings: carbon dioxide damage (% of GNI)",
"Adjusted savings: carbon dioxide damage (current US$)",
"Adjusted savings: consumption of fixed capital (% of GNI)","Adjusted savings: consumption of fixed capital (current US$)","Adjusted savings: education expenditure (% of GNI)","Adjusted savings: education expenditure (current US$)","Adjusted savings: energy depletion (% of GNI)","Adjusted savings: energy depletion (current US$)","Adjusted savings: gross savings (% of GNI)","Adjusted savings: mineral depletion (% of GNI)","Adjusted savings: mineral depletion (current US$)","Adjusted savings: natural resources depletion (% of GNI)","Adjusted savings: net forest depletion (% of GNI)","Adjusted savings: net forest depletion (current US$)"
,"Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)","Annualized average growth rate in per capita real survey mean consumption or income, total population (%)","Changes in inventories (constant LCU)","Changes in inventories (current LCU)","Changes in inventories (current US$)","Charges for the use of intellectual property, payments (BoP, current US$)",
"Charges for the use of intellectual property, receipts (BoP, current US$)","Debt service (PPG and IMF only, % of exports of goods, services and primary income)","Debt service on external debt, public and publicly guaranteed (PPG) (TDS, current US$)","Debt service on external debt, total (TDS, current US$)","Expense (% of GDP)","Expense (current LCU)","External balance on goods and services (% of GDP)","External balance on goods and services (constant LCU)","External balance on goods and services (current LCU)","External balance on goods and services (current US$)","External debt stocks (% of GNI)","External debt stocks, long-term (DOD, current US$)","External debt stocks, private nonguaranteed (PNG) (DOD, current US$)","External debt stocks, public and publicly guaranteed (PPG) (DOD, current US$)","External debt stocks, short-term (DOD, current US$)",
"External debt stocks, total (DOD, current US$)","GDP (constant 2015 US$)","GDP (constant LCU)","GDP (current LCU)","GDP (current US$)","GDP deflator (base year varies by country)","GDP deflator: linked series (base year varies by country)","GDP growth (annual %)","GDP per capita (constant 2015 US$)","GDP per capita (constant LCU)","GDP per capita (current LCU)","GDP per capita (current US$)","GDP per capita growth (annual %)","GDP per capita, PPP (constant 2017 international $)","GDP per capita, PPP (current international $)","GDP per person employed (constant 2017 PPP $)","GDP per unit of energy use (constant 2017 PPP $ per kg of oil equivalent)","GDP per unit of energy use (PPP $ per kg of oil equivalent)","GDP, PPP (constant 2017 international $)","GDP, PPP (current international $)","GDP: linked series (current LCU)","General government final consumption expenditure (% of GDP)","General government final consumption expenditure (annual % growth)","General government final consumption expenditure (constant 2015 US$)","General government final consumption expenditure (constant LCU)","General government final consumption expenditure (current LCU)","General government final consumption expenditure (current US$)","Grants and other revenue (% of revenue)","Grants and other revenue (% of revenue)","Grants and other revenue (current LCU)","Gross capital formation (% of GDP)","Gross capital formation (annual % growth)","Gross capital formation (constant 2015 US$)","Gross capital formation (constant LCU)","Gross capital formation (current LCU)","Gross capital formation (current US$)","Gini index","GNI (constant 2015 US$)","GNI (constant LCU)","GNI (current LCU)","GNI (current US$)","GNI growth (annual %)","GNI per capita (constant 2015 US$)","GNI per capita (constant LCU)","GNI per capita (current LCU)","GNI per capita growth (annual %)","GNI per capita, Atlas method (current US$)","GNI per capita, PPP (constant 2017 international $)","GNI per capita, PPP (current international $)","GNI, Atlas method (current US$)","GNI, PPP (constant 2017 international $)","GNI, PPP (current international $)","Households and NPISHs final consumption expenditure (% of GDP)","Households and NPISHs final consumption expenditure (annual % growth)","Households and NPISHs final consumption expenditure (constant 2015 US$)","Households and NPISHs final consumption expenditure (constant LCU)","Households and NPISHs final consumption expenditure (current LCU)","Households and NPISHs final consumption expenditure (current US$)","Households and NPISHs final consumption expenditure per capita (constant 2015 US$)","Households and NPISHs final consumption expenditure per capita growth (annual %)","Households and NPISHs final consumption expenditure, PPP (constant 2017 international $)","Households and NPISHs final consumption expenditure, PPP (current international $)","Households and NPISHs final consumption expenditure: linked series (current LCU)")

Economic_data= Ke_datas[Ke_datas['Indicator Name'].isin(Economic_Indicators)]
Economic_data

,Country Name,Country Code,Indicator Name,Indicator Code,year,Indicator_Score
22,Kenya,KEN,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,year,2000
23,Kenya,KEN,Adjusted net national income (constant 2015 US$),NY.ADJ.NNTY.KD,year,2000
24,Kenya,KEN,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,year,2000
25,Kenya,KEN,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,year,2000
26,Kenya,KEN,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,year,2000
...,...,...,...,...,...,...
69954,Kenya,KEN,Gross capital formation (constant LCU),NE.GDI.TOTL.KN,Score,NaN
69955,Kenya,KEN,Gross capital formation (current LCU),NE.GDI.TOTL.CN,Score,NaN
69956,Kenya,KEN,Gross capital formation (current US$),NE.GDI.TOTL.CD,Score,NaN
69990,Kenya,KEN,Households and NPISHs final consumption expend...,NE.CON.PRVT.ZS,Score,NaN
70000,Kenya,KEN,Households and NPISHs final consumption expend...,NE.CON.PRVT.CN.AD,Score,NaN